*{
  margin: 0;
  padding: 0;
  outline: 0;
  box-sizing: border-box;
}

body{
  background: #7159c1;
  font: 18px sans-serif;
  color: #fff;
}

h1 {
  margin: 0 0 20px 20px;
}

ul {
  margin: 0 0 0 40px;
  list-style: none;
}

li {
  margin: 0 0 5px 0;
}

button {
  margin: 20px 0 0 20px;
  border: 0;
  width: 150px;
  height: 36px;
  border-radius: 8px;
  font-weight: bold;
  color: #333;
}